<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.micromos.knpmobile">

    <uses-sdk tools:overrideLibrary="com.google.zxing.client.android"/>
    <uses-permission android:name="android.permission.CAMERA"/>

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WAKE_LOCK"/>

    <!--외부 저장소에서 파일 저장하기 위한 권한-->
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>

    <!--oero 이상에서 foreground 서비스를 위한 권한-->
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE"/>

    <!--다운로드 받은 앱을 설치 하기위한 권한-->
    <uses-permission android:name="android.permission.REQUEST_INSTALL_PACKAGES"/>

    <!-- apk를 설치하기 위한 권한 -->
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/logo"
        android:label="${appName}"
        tools:replace="android:label"
        android:roundIcon="@drawable/logo"
        android:supportsRtl="true"
        android:usesCleartextTraffic="true"
        android:theme="@style/Theme.KNP2">

        <activity
            android:name="com.micromos.knpmobile.MainActivity"
            android:windowSoftInputMode="adjustNothing"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:theme="@style/Theme.KNP2.NoActionBar">

        </activity>

        <activity
            android:name="com.micromos.knpmobile.UpdateActivity"
            android:windowSoftInputMode="adjustNothing"
            android:theme="@style/Theme.KNP2.NoActionBar">
        </activity>

        <activity
            android:name="com.micromos.knpmobile.ui.login.LoginActivity"
            android:theme="@style/Theme.KNP2.NoActionBar"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:windowSoftInputMode="adjustResize">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!-- Scanner 관련 -->
        <activity android:name=".ui.scanproductcoilin.ScanProductCoilInActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"/>
        <activity android:name=".ui.scanproductcoilout.ScanProductCoilOutActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"/>
        <activity android:name=".ui.scanproductstockcheck.ScanProductStockCheckActivity"
            android:windowSoftInputMode="adjustNothing"
            android:configChanges="keyboardHidden|orientation|screenSize"/>
        <activity android:name=".ui.scanproductchangepos.ScanProductChangePosActivity"
            android:windowSoftInputMode="adjustNothing"
            android:configChanges="keyboardHidden|orientation|screenSize"/>

        <!-- Uri로 데이터를 보내기 위함 -->
        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="${applicationId}.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths"/>
        </provider>
    </application>

</manifest>